/* === Style global === */
body {
    min-height: 100vh;
    background-color: rgb(134, 197, 248);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #051531;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
   
}

h1 {
    text-align: center;
    margin-top: 30px;
}


nav {
    background-color: #0f357c;
    padding: 5px 0;
    
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
    
}

nav ul li a {
    color: rgb(165, 211, 241);
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #5950ca;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    height: auto;
}


#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.carte {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    background-color: #6f7888;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.carte img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
}


.form-container {
    max-width: 350px;
    margin: 20px auto;
    padding: 0 10px;
}

form {
    background-color: #84b2ee;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

form input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
    margin-bottom: 12px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 1rem;
}

form button {
    background-color: #0f357c;
    color: rgb(165, 211, 241);
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #714c4c;
}

.message-erreur {
    text-align: center;
    margin-bottom: 10px;
    color: darkred;
    font-weight: bold;
}